body {
    font-family: monospace;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
  }

h2{
    font-size: 28px;
    text-align: center;
    letter-spacing: 24px;
    padding-left: 30px;
}
h3{
    text-align: center;
    letter-spacing: 4px;
}