body {
    font-family: helvetica, sans-serif;
    width: 30vw;
    background-color: black;
  }

  label {
    font-weight: bold;
    color: white;
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

  p {
    background: cyan;
    color: #5e2612;
    padding: 10px;
    visibility: hidden;
  }